* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header {
    width: 100%;
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
  }
  .nav, .nav__list li {
    display: inline-block;
    margin: 5px;
  }
  .header__logo .nombre {
    position: relative;
    bottom: 10px;
  }
  .nav__list {
    list-style: none;
  }
  .nav__list li a {
    text-decoration: none;
    color: white;
  }
  .nav .nav__list ::after {
    content: " | ";
  }
  .main {
    background-color: white;
    display: flex;
  }
  .routes {
    display: inline-block;
    height: 100%;
    padding: 10px;
    background-color: rgba(27, 200, 223, 0.589);
  }
  .routes__images img {
    display: block;
    margin: 10px 0;
    border-radius: 20px;
  }
  .content {
    display: inline-block;
    padding: 25px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .footer {
    text-align: center;
    background-color: rgba(27, 200, 223, 0.589);
  }
  .routes__images, .web-pages {
    width: 200px;
  }
  /* }
  @media (min-width: 320px) {
    .content {
      font-size: 12px;
    }
    .web-pages {
      width: 40px;
    }
  }
  @media (min-width: 750px) {
    .content {
      font-size: 20px;
    }
    .web-pages {
      width: 140px;
    }
  }
  @media (min-width: 1024px) {
    .content {
      font-size: 16px;
    }
    .web-pages {
      width: 250px;
    }
  } */